.login-page {
    padding: 10px;
    form {
        width: 350px;
        padding: 20px;
        input {
            margin-bottom: 10px;
            width: 100%;
        }
        .add-btn {
            width: 100%;
        }
        .show-pass-btn {
            position: absolute;
            right: 10px;
            top: 40%;
            transform: translateY(-50%);
        }
    }
}