.main-header {
    background-color: #6494AA;
    padding: 30px;
}

.admin-header {
    background-color: black;
    padding: 4px 30px;
}

.main-header,
.admin-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    >div {
        >div:first-of-type {
            margin-inline-end: 20px;
        }
    }

    .main-nav {
        display: flex;
        align-items: center;

        >*:not(:last-child) {
            margin-inline-end: 8px;
        }
    }

    a {
        color: white;
    }

    .marked {
        color: #E9B872;
    }

    span {
        color: white
    }
}