.post-table-preview {
    &:nth-of-type(odd) {
        background-color: rgb(230, 230, 230);
    }
    td {
        text-align: center;
        border: 1px solid black;
        padding: 10px;
        font-size: 0.8rem;
        font-weight: bold;
    }
    button {
        width: 110px
    }
    .edit-btn {
        font-weight: normal;
        display: inline-block;
        width: 100px
    }
}