.side-nav {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #E9B872;
    background-color: black;
    position: relative;
    min-width: 160px;

    a {
        display: block;
        padding: 8px 15px;
        color: white;
        font-size: 14px;
    }

    button {
        position: absolute;
        right: 0;
        bottom: 10px;
    }

    &.close {
        left: -120px;
    }

    .marked {
        background-color: #0073aa !important;
        border: 1px solid black;
    }
}